# Importing the required libraries

In [20]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

We have collected data about a set of patients, all of whom suffered from the same illness. During their course of treatment, each patient responded to one of 5 medications, Drug A, Drug B, Drug c, Drug x and y:

In [21]:
#loading dataset
drug=pd.read_csv("D:\SEM 4\drug200.csv")

In [22]:
#calling first five data
drug.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [23]:
#calling last five data
drug.tail()

     Age Sex      BP Cholesterol  Na_to_K   Drug
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

In [24]:
#checking there is any missing value
drug.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [25]:
#checking the unique values
drug['BP'].unique()

array(['HIGH', 'LOW', 'NORMAL'], dtype=object)

In [26]:
drug['Cholesterol'].unique()

array(['HIGH', 'NORMAL'], dtype=object)

In [27]:
#converting cathgorical to numerical
drug['Sex']=drug['Sex'].map({'M':0,'F':1})
drug['BP']=drug['BP'].map({'HIGH':2,'NORMAL':1,'LOW':0})
drug['Cholesterol']=drug['Cholesterol'].map({'HIGH':1,'NORMAL':0})

In [28]:
drug

     Age  Sex  BP  Cholesterol  Na_to_K   Drug
0     23    1   2            1   25.355  drugY
1     47    0   0            1   13.093  drugC
2     47    0   0            1   10.114  drugC
3     28    1   1            1    7.798  drugX
4     61    1   0            1   18.043  drugY
..   ...  ...  ..          ...      ...    ...
195   56    1   0            1   11.567  drugC
196   16    0   0            1   12.006  drugC
197   52    0   1            1    9.894  drugX
198   23    0   1            0   14.020  drugX
199   40    1   0            0   11.349  drugX

[200 rows x 6 columns]

In [136]:
drug['Drug'].unique()

array(['drugY', 'drugC', 'drugX', 'drugA', 'drugB'], dtype=object)

In [37]:
#normalzing with min and max method:
n=drug.iloc[:,0:5]
drug.iloc[:,0:5]=(n-n.min())/ (n.max() - n.min())

In [38]:
drug

          Age  Sex   BP  Cholesterol   Na_to_K   Drug
0    0.135593  1.0  1.0          1.0  0.596848  drugY
1    0.542373  0.0  0.0          1.0  0.213397  drugC
2    0.542373  0.0  0.0          1.0  0.120239  drugC
3    0.220339  1.0  0.5          1.0  0.047814  drugX
4    0.779661  1.0  0.0          1.0  0.368191  drugY
..        ...  ...  ...          ...       ...    ...
195  0.694915  1.0  0.0          1.0  0.165676  drugC
196  0.016949  0.0  0.0          1.0  0.179405  drugC
197  0.627119  0.0  0.5          1.0  0.113359  drugX
198  0.135593  0.0  0.5          0.0  0.242385  drugX
199  0.423729  1.0  0.0          0.0  0.158859  drugX

[200 rows x 6 columns]

In [39]:
#taking feature value and traget value:
x=drug[['Age','Sex','BP','Cholesterol','Na_to_K']]
y=drug[['Drug']]

In [158]:
#training and sploting:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

In [159]:
len(x_train)

160

In [160]:
len(y_train)

160

In [161]:
#importing knn algoritham:
from sklearn.neighbors import KNeighborsClassifier

In [162]:
#creating knn model:
classifier=KNeighborsClassifier(n_neighbors=15,metric='minkowski',p=2)

In [163]:
#here i'm fitting the feature value and traget values:
classifier.fit(x_train,y_train)

<ipython-input-163-465080a9891c>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  classifier.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=15)

In [164]:
#prediting the values:
predict=classifier.predict(x_test)

In [165]:
predict

array(['drugY', 'drugX', 'drugY', 'drugY', 'drugY', 'drugX', 'drugX',
       'drugX', 'drugY', 'drugX', 'drugA', 'drugY', 'drugY', 'drugX',
       'drugY', 'drugC', 'drugY', 'drugY', 'drugX', 'drugA', 'drugY',
       'drugY', 'drugX', 'drugX', 'drugY', 'drugX', 'drugX', 'drugY',
       'drugY', 'drugX', 'drugX', 'drugC', 'drugA', 'drugX', 'drugY',
       'drugA', 'drugX', 'drugY', 'drugY', 'drugX'], dtype=object)

In [166]:
#checking accuracy of the model
from sklearn import metrics
print(metrics.accuracy_score(y_test,predict))

0.775

In [167]:
#creating new data for prediction using numpy:
x_new=np.array([[22,1,2,1,8],[26,0,1,1,45],[20,1,0,0,9.45]])

In [168]:
prediction=classifier.predict(x_new)

In [169]:
prediction

array(['drugY', 'drugY', 'drugY'], dtype=object)